
main {
  margin: auto;
  width: 1200px;
}

h1 {
  background: black;
  font-size: 50px;
  font-family: optima;
  color: #F0B23E;
  text-indent: 115px;
}

.border-header {
  height: 14px;
  background: green;
  border: 1px solid green;
}

section {
  height: 280px;
}

#section-one {
  height: 500px;
}

img {
  height: 500px;
  width: 1200px;
}

* {box-sizing:border-box}
body {font-family: Verdana,sans-serif;}
.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 1200px;
  position: relative;
  margin: auto;
}

/* The dots/bullets/indicators */
.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

#section-two {
  background: #EBEBEB;
}

/** {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}*/

/* Style the tab */
div.tab {
    float: left;
    /*border: 1px solid #ccc;*/
    background-color: #F0B23E ;
    width: 25%;
    height: 280px;
}

/* Style the buttons inside the tab */
div.tab button {
    display: block;
    background-color: inherit;
    border: 1px solid black;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: white;
}

/* Create an active/current "tab button" class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    /*float: left;*/
    width: 70%;
    border-left: none;
    height: 280px;
}

#section-three {
  /*background: #F2F3F4;*/
  background: green;
}
